<footer>
  <div class="container">

    <div class="sec aboutus">
      <h2><i class="fas fa-info-circle"></i>About Us</h2>
      <p>Somos una empresa de taxis enfocada en prestar servicio de transporte de la manera mas comoda y a precios
        accesibles para los consumidores</p>
      <ul class="sci">
        <li><a href="#"> <i class="fab fa-facebook"></i> </a></li>
        <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
        <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
      </ul>
    </div>

    <div class="sec contact">
      <h2><i class="fas fa-envelope-open-text"></i>Contact Info</h2>
      <ul class="info">
        <li>Angelica Barranco
          <small class="text-muted"> - mbarranco@uninorte.edu.co</small>
        </li>
        <li>Dierick Brochero
          <small class="text-muted"> - dierickb@uninorte.edu.co</small>
        </li>
        <li>Cristian Martinez
          <small class="text-muted"> - cdturizo@uninorte.edu.co</small>
        </li>
        <li>Nicolas Casas
          <small class="text-muted"> - ncasas@uninorte.edu.co</small>
        </li>
        <li>Juan Orozco
          <small class="text-muted"> - dojuan@uninorte.edu.co</small>
        </li>
      </ul>
    </div>

  </div>
</footer>
<div class="copyrightText">
  <p>Copyright 200 Online Turoials. All Rights Reserved</p>
</div>