<header class="header">
    <nav class="nav align-middle">
        <a href="/" class="logo nav-link"> Covid.</a>
        <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/symptoms" class="nav-menu-link  nav-link">Symptoms</a>
            </li>
            <li class="nav-menu-item">
                <a href="/prevention" class="nav-menu-link nav-link">Prevention</a>
            </li>
            <li class="nav-menu-item">
                <a href="/signin" class="nav-menu-link nav-link"><i class="fas fa-users-medical"></i> Sign in</a>
            </li>
        </ul>
    </nav>
</header>