<header class="header">
    <nav class="nav">
        <a href="/" class="logo">
            <img alt="" class="fas img-logo" importance="auto" loading="auto" src="./images/taxi.ico" />
            Taxiflow</a>
        <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/" class="nav-menu-link">
                    <i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-menu-item">
                <a href="/historial" class="nav-menu-link"><i class="fas fa-history"></i> Historial</a>
            </li>
        </ul>
    </nav>
</header>