<div class="navigation">
    <ul>
        <!-- 
            <li>
                <a href="#">
                    <span class="icon"></span>
                    <span class="title">Brand Name</span>
                </a>
            </li>

        -->
        
        <li>
            <a href="/links/intern" title="Dashboard">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">Dashboard</span></a>

        </li>
        <% if( medico ) { %>                
            <li>
                <a href="/links/intern/mapIntern" title="Map"><span class="icon">
                    <i class="fas fa-map-marked-alt"></i></span>
                    <span class="title">Map</span></a>
            </li>
        <% } else { %>
            <li>
                <a href="/links/intern/patientRegister" title="Register">
                    <span class="icon"><i class="fas fa-user-plus"></i></span>
                    <span class="title">Register</span></a>
            </li>  
        <% } %>  
        
        
        <li>
            <a href="#" title="Help"><span class="icon">
                <i class="fas fa-question-circle"></i></span>
                <span class="title">Help</span></a>
        </li>
        <li>
            <a href="#" title="Settings"><span class="icon">
                <i class="fas fa-cog"></i></span>
                <span class="title">Settings</span></a>
        </li>
        <li>
            <a href="/logout" title="Sing out"><span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span><span class="title">Sing out</span></a>
        </li>

    </ul>  

</div>

<div class="main">
    <div class="topbar">
        <div class="toggle" onclick="toggleMenu();"></div>
        <div class="search">
            <div>
                <h4>CASE</h4>
                <input id="filterIDcase" type="text" class="form-control" 
                name="filterIDcase" placeholder="ID case" autofocus />
            </div>
            <div>
                <h4>NAME</h4>
                <input id="filterName" type="text" class="form-control" 
                name="filterName" placeholder="name" autofocus />
            </div>
            <div>
                <h4>PATIENT</h4>
                <input id="filterID" type="text" class="form-control" 
                name="filterID" placeholder="ID patient" autofocus />
            </div>
        </div>
        <% if(!medico){ %> 
            <div class="user">
                <img src="/images/assistant.png" alt="user">
            </div>
        <% }  else {%>
            <div class="user">
                <img src="/images/doctor.png" alt="user">
            </div>
        <% }%>
    </div>
