<!DOCTYPE html>
<html lang="es">

    <head>

        <%- include layouts/head.ejs %>
            <meta name="theme-color" content="#FF5B63">
            <link rel="stylesheet" href="/stylesheets/historial.css">
            <link rel="icon" href="./images/taxi.ico">
            <script defer src="/javascripts/history.js"></script>

        </head>

        <body>

            <%- include layouts/navigation.ejs %>

                <div class="body-content">
                    <div class="fecha-div">
                        <form class="fecha">
                            <div class="licence-plate-div">
                                <h3>Placa:</h3>
                                <select id="licence-id"></select>
                            </div>
                            <div class="continer-time">
                                <h3>Mes y hora de inicio:</h3>
                                <input class="date" data-mes="Formulario mes
                                    inicial" id="datetime-1"
                                    for="date-1" type="datetime-local">
                            </div>

                            <div class="continer-time">
                                <h3>Mes y hora final:</h3>
                                <input class="date" data-horaf="Forulario mes
                                    final" id="datetime-2"
                                    for="date-2" type="datetime-local">
                            </div>
                            <%#
                            <div class="button">
                                <input id="button-trace" class="button-trace"
                                    type="button" value="Trazar trayectoria">
                            </div>
                            %>

                        </form>
                    </div>
                    <div class="range" id="range">
                        <div class="sliderValue" id="sliderValue"></div>
                        <div class="field" id="field slider">
                            <div class="value left" id="value left">
                                </div>
                            <input type="hidden" min="1" max="200" value="1"
                                steps="1" id="sliderinput">
                            <div class="value right" id="value right">
                                </div>
                            
                        </div>
                        <div id="sliderInfo"></div>
                    </div>
                    <div id="allDataDi"></div>
                    <div id="map-template">
                        <div class="button-overlay">
                            <button id='zoom' class="zoom-to-data-buttom"
                                type="submit">
                                <i class="fas fa-crosshairs"></i>
                            </button>
                        </div>

                    </div>

                </div>

                <%- include layouts/footer.ejs %>
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                
                </body>

            </html>