.btn {
  position: relative;
  padding: 5px 10px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 25%;
  width: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}
.overflow-y{
  overflow-y: auto;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.mainContainer {
  padding: 80px 0px 20px 0px;
  height: 100%;
}
.formContainer {
  padding: 20px;
}
.form-group {
  padding: 3px;
}
.form-control {
  width: 100%;
}
.roleDropDown {
  width: 100%;
}
.card.cardContain {
  width: 100%;
}
.cardRegisterHeader {
  position: relative;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.containHeader {
  display: flex;
}
.circle {
  vertical-align: middle;
}
.cardRegister {
  grid-template-columns: repeat(3, 3fr);
  position: relative;
  padding: 0px 20px 20px 20px;
  display: grid;
  align-items: center;
}
.cardBox .card {
  position: relative;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers {
  position: relative;
  font-size: 2em;
  font-weight: 500;
}
.cardBox .card .cardName {
  color: #999;
}
.cardBox .card .iconBox {
  font-size: 2.5em;
  color: #03a9f4;
}
.fa-virus-slash {
  color: #4de14d;
}
.fa-viruses {
  color: red;
}
.form-control,
.roleDropDown {
  border-radius: 30px;
  padding: 10px 10px;
  z-index: 2000;
  width: 100%;
  border-color: #fff;
  border: none;
  background: aliceblue;
}
.form {
  display: none;
}
.form.active {
  transition: 0.5s;
  display: block;
}
.yellow{
  background-color: #D9D92D;
}
.red{
  background-color: #FF0000;
}
.pink{
  background-color: pink;
}
.orange{
  background-color: #FFAD47;
}
.green{
  background-color: #4DE14D;
}
@media (max-width: 992px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
}