@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  /* padding-top: 0; */
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
body {
  overflow-x: hidden;
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 25%;
  width: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  /* padding-top: 80px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.mainContainer {
  padding: 80px 0px 20px 0px;
  /* margin-bottom: 20px; */
  height: 100%;
}
.formContainer{
  padding: 20px;
}
.form-group{
  padding: 3px;
}
.form-control{
  width: 100%;
}
.roleDropDown{
  width: 100%;
}
.card.cardContain{
  width: 100%;
}
.cardRegisterHeader {
  position: relative;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.containHeader{
  display: flex;
}
.circle{
  vertical-align: middle;
}
.cardRegister {
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding: 0px 20px 20px 20px;
  display: grid;
}
.cardBox .card {
  position: relative;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers {
  position: relative;
  font-size: 2em;
  font-weight: 500;
}
.cardBox .card .cardName {
  color: #999;
}
.cardBox .card .iconBox {
  font-size: 2.5em;
  color: #03a9f4;
}
.fa-virus-slash {
  color: #4de14d;
}
.fa-viruses {
  color: red;
}

/* Table */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  display: grid;
  grid-gap: 20px;
  height: 650px;
  grid-template-columns: 1fr 2fr;
}
.details .recentPatients {
  position: relative;
  min-height: 530px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  overflow-y: auto;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  /* margin-bottom: 20px; */
}
.cardHeader {
  display: flex;  
  align-items: flex-start;
  height: 530;
}
.cardHeader h2 {
  font-weight: 600;
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details thead td {
  font-weight: 600;
}
.details .recentPatients table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentPatients table tr:hover {
  background: #03a9f4;
  color: #fff;
}
.details .recentPatients table tr:last-child {
  border-bottom: none;
}
.details .recentPatients table tbody tr:hover {
  background: #03a9f4;
  color: #fff;
}
.details .recentPatients table tr td {
  padding: 9px 5px;
}
.details .recentPatients table thead tr td:last-child,
.details .recentPatients table tbody tr td:last-child {
  text-align: right;
}

.details .recentPatients table thead tr td:nth-child(2),
.details .recentPatients table tbody tr td:nth-child(2),
.details .recentPatients table thead tr td:nth-child(3),
.details .recentPatients table tbody tr td:nth-child(3),
.details .recentPatients table thead tr td:nth-child(4),
.details .recentPatients table tbody tr td:nth-child(4),
.details .recentPatients table thead tr td:nth-child(5),
.details .recentPatients table tbody tr td:nth-child(5) {
  text-align: center;
}
.status {
  position: relative;
  padding: 2px 4px;
  /*background: #f00;*/
  color: #fff;
  border-radius: 14px;
  font-size: 300;
  letter-spacing: 1px;
}
.patientState {
  position: relative;
  padding: 2px 4px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  width: 100px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}
.details .recentCases {
  /* display: none; */
  position: relative;
  min-height: 530px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  overflow-y: auto;
  width: (100% - 20px);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.details .recentCases .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.details .recentCases .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeaderh2 {
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 480px) {
  .details .recentPatients {
    overflow-x: auto;
  }
  .details .recentPatients table {
    width: 600px;
  }
}
