@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
body {
  overflow-x: hidden;
}
#filterIDcase {
  width: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  z-index: 2000;
  width: 100%;
  border-color: #fff;
  border: none;
  background: aliceblue;
}
#filterName {
  width: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  z-index: 2000;
  width: 100%;
  border-color: #fff;
  border: none;
  background: aliceblue;
}
#filterID {
  width: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  z-index: 2000;
  width: 100%;
  border-color: #fff;
  border: none;
  background: aliceblue;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003147;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 60px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover {
  background: #03a9f4;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 60px;
}
.navigation ul li:nth-child(1):hover {
  background: transparent;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: antiquewhite;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fas {
  color: antiquewhite;
  font-size: 24px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

/*  Barra superior de navegacion  */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}
.main.active {
  left: 60px;
  width: calc(100% - 60px);
}
.main .topbar {
  width: calc(100% - 300px);
  transition: 0.5s;
  background: #fff;
  height: 70px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 900;
  box-shadow: aliceblue;
}
.main .topbar.active {
  width: calc(100% - 60px);
  transition: 0.5s;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #fff;
  z-index: 2000;
}
.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
  z-index: 5000;
}
.search {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.search h4 {
  text-align: center;
}
.search div {
  padding: 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 80%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px soid rgba(0, 0, 0, 0.2);
}
.search label .fas {
  position: absolute;
  left: 15px;
  top: 4px;
}
.user {
  position: relative;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 500;
}

@media (max-width: 992px) {
  .main .topbar {
    transition: 0.5s;
    width: 100%;
  }
  .main .topbar.active {
    transition: 0.5s;
    width: calc(100%-60px);
  }
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    width: calc(100% - 60px);
    left: 60px;
  }
}
@media (max-width: 545px) {
  .cardRegister {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .main .topbar {
    transition: 0.5s;
    width: 100%;
  }
  .main .topbar.active {
    transition: 0.5s;
    width: 100%;
    z-index: 1000;
    background-color: #003147;
  }
  .main .topbar.active .search h4 {
    color: #fff;
  }
  .main .toggle.active::before {
    transition: 0.5s;
    color: #fff;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
    margin-top: 60px;
    height: 100%;
    transition: 0.5s;
  }
  .main,
  .main.active {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 410px) {
  .search div {
    padding: 10px 5px;
  }
  .cardRegister {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 375px) {
  .search div {
    padding: 10px 1px;
  }
}
