<div class="allCharts" id="allCharts">
    <h1>Total cases</h1>
    <canvas id="myChart" ></canvas>
    </br>
    <div class="pieCharts" id="pieCharts">
        <h1>Total cases</h1>
        <canvas id="myPie1" ></canvas>
        <h1>Total cases</h1>
        <canvas id="myPie2"></canvas>
        <h1>Test result</h1>
        <canvas id="myPie3"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../javascripts/main.js"></script>