<%- include('./layouts/header') %>
</head>

<body>
  <%- include('./layouts/navBar') %>
    <div class="hero-v1">
      <div class="container">
        <div class="row">
          <div class="col">
            <span class="subheading">Covid-19 Statistics</span>
            <h1 class="heading">Stay Safe. Stay Home.</h1>
              <p class= button-mb-5>
              <a href="/signin" class="btn-primary">
                SIGN IN</a>
            </p>
          </div>
          <div class="col-lg-6">
            <figure class="ilustration">
              <img src="/images/protect(2).png" 
              alt="Image" class=img-fluid>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <%- include('./charts') %>
</body>

</html>