<%- include('./layouts/header') %>
</head>

<body>
  <%- include('./home/navBar') %>
    <div class="hero-v1">
      <div class="container">
        <div class="row">
          <%- include('./home/index.ejs') %>
        </div>
      </div>
    </div>
  <% if(url === "/") { %>
    <%- include('./home/charts') %>
  <% } %>

</body>

</html>