.btn-primary, .btn{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px;
    background: #6f42c1;
    background-color: #6f42c1;
    z-index: 2000;
    margin: 7px 0;
    width: 100%;
    color:aliceblue;
    cursor: pointer;
}
.btn-primary:hover{
    color: hsl(130, 100%, 50%);
}
.button-mb-5 a{
    text-decoration: none;
}
.form-control{
    border-radius: 30px;
    padding: 10px 10px;
    z-index: 2000;
    margin: 7px 0;
    width: auto;
}
