<div class="navigation">
    <ul>
        <!-- 
            <li>
                <a href="#">
                    <span class="icon"></span>
                    <span class="title">Brand Name</span>
                </a>
            </li>

        -->
        
        <li>
            <a href="/links/intern"><span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">Dashboard</span></a>

        </li>
        <li>
            <a href="/links/intern/patients"><span class="icon"><i class="fas fa-user-injured"></i></span>
                <span class="title">Patients</span></a>
        </li>
        <li>
            <a href="#"><span class="icon"><i class="fas fa-question-circle"></i></span>
                <span class="title">Help</span></a>
        </li>
        <li>
            <a href="#"><span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Settings</span></a>
        </li>
        <li>
            <a href="#"><span class="icon"><i class="fas fa-unlock-alt"></i></span>
                <span class="title">Password</span></a>
        </li>
        <li>
            <a href="/logout"><span class="icon"><i class="fas fa-sign-out-alt"></i>
            </span><span class="title">Sing out</span></a>
        </li>

    </ul>  

</div>

<div class="main">
    <div class="topbar">
        <div class="toggle" onclick="toggleMenu();"></div>
        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <i class="fas fa-search" aria-hidden="true"></i>
            </label>
        </div>
        <div class="user">
            <img src="/images/symptom_high-fever.png" alt="user">
        </div>
    </div>